.profilPicture{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    cursor: pointer;
    object-fit: contain;
    &:hover{
      filter: brightness(1.15);  
    }
}

mat-card{
  overflow: hidden !important;
    display: flex;
    flex-direction: column;
    background-color: black;
    h1{
      color: white;
    }
}

.editPlayer{
  height: 196px;
}